extends layout
block content
  nav.navbar
    div.logo
      a(href="/") My Shop
    ul.nav-links
      li
        a(href="/catalog/items") Products
      li
        a(href="/catalog/categories") Categories
      li
        a(href="/catalog/cart") Cart  
        span#cartCount #{count}
      li
        a(href="/login") Login

  .item-detail-container
    img.item-picture(src=item.image alt=item.title)
    .item-info-container
      h1 #{title}
      | Price: $#{item.price}
      form(action="", method="POST")
        input(type="hidden" name="productId" value=item._id)
        label(for="quantity") Quantity:
        input#quantity(type="number" name="quantity" min="1" value="1")
        button(type="submit") Add to Cart
