extends layout
block content
  nav.navbar
    ul.nav-links
      li
        a(href="/catalog/items") Products
      li
        a(href="/catalog/cart")
          span.material-icons
            | shopping_cart
          | #{count}
    div.logo
      a(href="/") Vintage
    div.login
      a(href="/login")
       span.material-icons
            | account_circle
          

  .item-detail-container
    img.item-picture(src=item.image alt=item.title referrerpolicy="no-referrer")
    .item-info-container
      h1 #{title}
      h2 $#{item.price}
      form.qty-form(action="", method="POST")
        input(type="hidden" name="productId" value=item._id)
        label(for="quantity") Quantity:
        input#quantity(type="number" name="quantity" min="1" value="1")
        button.add-to-cart-btn(type="submit") Add to Cart
